.icon {
  background-color: #6fac6a;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
}

button {
  border-color: white !important;
  border-width: 0;
}

* {
  font-family: 'Inter', serif;
}

header {
  button {
    border-color: white !important;
    color: white;
    border-width: 0;
    border-radius: 23px;
    margin-left: 30px;
    width: 176px;
    height: 45px;
    border-radius: 23px;
    background-image: linear-gradient(90deg, #6fab6a 0%, #6fab6a 100%);

    span {
      float: right;
      border-radius: 50%;
      background-color: #9ac496;
    }
  }
}

.First_class_pharmacy {
  h1 {
    color: #323e4a;
    font-weight: 700;
    font-family: 'Titillium Web', serif;
  }

  p {
    font-size: 15px;
    line-height: 24px;
    color: #4a5764;
    font-weight: 400;
    font-family: 'Inter', serif;
  }

  button {
    display: flex;
    align-items: center;
    padding: 5px;
    color: white;
    // width: 200px;

    border-radius: 23px;
    background-image: linear-gradient(90deg, #6fab69 0%, #6fab69 100%);

    span {
      float: right;
      border-radius: 50%;
      background-color: #9ac496;
      width: 37px;
      height: 37px;
      border-radius: 18px;

      display: grid;
      place-items: center;
    }
  }
}

.Announcement {
  border-radius: 50px !important;
  overflow: hidden;
  // height: 95px;
  border-radius: 48px;
  filter: drop-shadow(2.5px 4.33px 7.5px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;

  div {
    display: flex;
    place-items: center;
  }

  h5 {
    font-size: 20px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Inter', serif;
  }
}

.Jabs_Vaccines {
  position: relative;

  .img_c {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    place-items: center;
    display: grid;

    margin: 0 auto;
    border-radius: 59px;
    filter: drop-shadow(2.5px 4.33px 7.5px rgba(0, 0, 0, 0.15));
    background-color: #ffffff;
  }

  img {
    display: inline;
    margin: auto;
    height: 50px;
    // width: auto;
  }

  span {
    display: block;
  }
}

.Haxby {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 100px;

  p {
    font-size: 15px;
    line-height: 16px;
    color: #9c9ea2;
    font-weight: 400;
    font-family: 'Inter', serif;
  }

  i {
    color: #6fac6a;
  }

  a {
    width: 289px;
    height: 45px;
    border-radius: 22px;
    background-image: linear-gradient(90deg, #6fab69 0%, #6fab69 100%);
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: grid;
      place-items: center;
      color: white !important;

      width: 33px;
      height: 33px;
      border-radius: 16px;
      background-color: #9ac597;
      color: white;

      i {
        color: white;
      }
    }
  }
}

.Make_a_Booking {
  display: grid;
  place-items: center;

  h1 {
    font-family: 'Titillium Web', serif;
  }

  p {
    font-size: 18px;
    line-height: 32px;
    color: #4a5764;
    font-weight: 600;
    font-family: 'Inter', serif;
    text-align: center;
  }

  a {
    font-size: 25px;
    line-height: 40px;
    color: #ffffff !important;
    font-weight: 600;
    font-family: 'Inter', serif;
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 413px;
    height: 64px;
    border-radius: 27px;
    background-image: linear-gradient(90deg, #6fab69 0%, #6fab69 100%);

    span {
      display: grid;
      place-items: center;
      width: 53px;
      height: 53px;
      border-radius: 26px;
      background-color: #9ac597;
    }
  }
}

.Service-Title {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  a {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 19px;
    background-image: linear-gradient(90deg, #6fab69 0%, #6fab69 100%);

    span {
      display: grid;
      place-items: center;

      width: 25px;
      height: 25px;
      border-radius: 16px;
      background-color: #9ac597;
    }
  }
}

.condimentum {
  margin-top: 30px;

  i {
    width: 35px;
    height: 35px;
    border-radius: 18px;
    // background-image: linear-gradient(90deg, #6fab69 0%, #6fab69 100%);
    color: #9ac597;
  }
}

.ContactUs {
  i {
    color: #9ac597;
    display: block;
    margin: 10px;
  }

  p {
    display: flex;
    align-items: center;
  }
}

footer {
  background-color: #323e4a;
  color: white;
  font-size: small;
  height: 531px;

  display: flex;
  align-items: center;
}

body {
  width: 100%;
}

.OurPharmacies {
  p {
    margin-bottom: 7px !important;
  }
}
